<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <machineKey decryption="AES" decryptionKey="BD08F6C2D4DDF6A4B27434470923625C43BA8FC9B597D97D02CA2AD056099D1D" validation="HMACSHA256" validationKey="8437D012CC6B17023164AD325A22858896B6DAA42AE543F654E4C88C45249CBAD071C94A2B1D673BA456E94FFB3EFDF16ACAAE34D3153C773EC64D491AAC0715"/>
    <authentication mode="Forms">
      <forms name="LoginForm" loginUrl="Login.aspx" timeout="10" slidingExpiration="false"/>
    </authentication>
    <authorization>
      <allow users ="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="IndexPage.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IService2" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IService1" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IService11" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IService12" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/Stockquote/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ASUStockServiceReference.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://neptune.fulton.ad.asu.edu/WSRepository/Services/ImageVerifierSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
        contract="VerifierServiceReference.IService" name="BasicHttpBinding_IService2" />
      <endpoint address="http://webstrar6.fulton.asu.edu/Page8/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="LoginServiceReference.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://webstrar6.fulton.asu.edu/page4/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="TransactServiceReference.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://webstrar6.fulton.asu.edu/page7/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
        contract="StockServiceReference.IService1" name="BasicHttpBinding_IService12" />
    </client>
  </system.serviceModel>
</configuration>